body { 
    background-color: rgb(255, 171, 144); 
}

header { 
    width: 500px; 
    height: 100px; 
    text-align: center; 
    border: 1px dashed black; 
}


h2 { 
    font-family: sans-serif; 

}


footer {
    text-transform: uppercase; 

}


